@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-1">deTodo</h1>
        <h1 class="display-4">La mejor tienda de tecnología de Buenos Aires</h1>
        <br /><br /><br />
                    <p>Empezamos? <br /><br /><a class="btn btn-primary" asp-controller="Tiendas" asp-action="ListaProductosAPI">Ver productos</a></p>
    </div>

