@model Item





<form asp-action="AgregarACarrito" asp-controller="Tiendas" method="post">



    <input type="hidden" asp-for="IdProducto" />


    <div class="row">
        <div class="col-sm">
            <input asp-for="Cantidad" type="number" class="form-control" min="1" max="90" required value="1" />
        </div>
        <div class="col-sm">
            <input id="botonAgregar" type="submit" value="Agregar al carrito" class="btn btn-primary" />
        </div>
    </div>



</form>




